src/test/resources/templates/70/damascus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="definition">
        <xs:complexType>
            <xs:all>
                <xs:element name="projectName" nillable="false">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:whiteSpace value="collapse"/>
                            <xs:pattern value="[A-Za-z_]*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="liferayVersion" type="xs:string" minOccurs="1"/>
                <xs:element name="packageName" nillable="false">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:whiteSpace value="collapse"/>
                            <xs:pattern value="([a-zA-Z_$][a-zA-Z\d_$]*\.)*[a-zA-Z_$][a-zA-Z\d_$]*"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="applications">
                    <xs:complexType>
                        <xs:sequence maxOccurs="255">
                            <xs:element name="application">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="namespace" nillable="false" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="3"/>
                                                    <xs:whiteSpace value="collapse"/>
                                                    <xs:pattern value="[A-Za-z0-9]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="model" nillable="false" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="3"/>
                                                    <xs:whiteSpace value="collapse"/>
                                                    <xs:pattern value="[A-Za-z0-9]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="title" nillable="false" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="3"/>
                                                    <xs:whiteSpace value="collapse"/>
                                                    <xs:pattern value="[A-Za-z0-9 ]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="web" type="xs:boolean" default="true" minOccurs="0"/>
                                        <xs:element name="asset">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="assetTitleFieldName" nillable="false" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="3"/>
                                                                <xs:whiteSpace value="collapse"/>
                                                                <xs:pattern value="[A-Za-z0-9]*"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="assetSummaryFieldName" nillable="false" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="3"/>
                                                                <xs:whiteSpace value="collapse"/>
                                                                <xs:pattern value="[A-Za-z0-9]*"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="categories" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="discussion" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="ratings" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="tags" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="relatedAssets" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="fullContentFieldName" nillable="false" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:minLength value="3"/>
                                                                <xs:whiteSpace value="collapse"/>
                                                                <xs:pattern value="[A-Za-z0-9]*"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="workflow" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="generateActivity" type="xs:boolean" default="false" minOccurs="0"/>
                                                    <xs:element name="trash" type="xs:boolean" default="false" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="fieldsName" nillable="false">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="3"/>
                                                    <xs:whiteSpace value="collapse"/>
                                                    <xs:pattern value="[A-Za-z_]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="fields">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="255">
                                                    <xs:element name="field">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="name" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="3"/>
                                                                            <xs:whiteSpace value="collapse"/>
                                                                            <xs:pattern value="[a-zA-Z0-9_]*"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="title" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:minLength value="1"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="type">
                                                                    <xs:complexType>
                                                                        <xs:choice>
                                                                            <xs:element name="int">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="length" type="xs:unsignedShort" nillable="false"/>
                                                                                        <xs:element name="signed" type="xs:boolean" default="false"/>
                                                                                        <xs:element name="zerofill" type="xs:boolean" default="true" minOccurs="0"/>
                                                                                        <xs:element name="nullable" type="xs:boolean" default="false"/>
                                                                                        <xs:element name="regexp" type="xs:string" minOccurs="0"/>
                                                                                        <xs:element name="order" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                        <xs:element name="unique" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="long">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="length" type="xs:unsignedShort" nillable="false"/>
                                                                                        <xs:element name="signed" type="xs:boolean" default="false"/>
                                                                                        <xs:element name="nullable" type="xs:boolean" default="false"/>
                                                                                        <xs:element name="regexp" type="xs:string" minOccurs="0"/>
                                                                                        <xs:element name="order" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                        <xs:element name="unique" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="double">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="length" type="xs:unsignedShort"/>
                                                                                        <xs:element name="decimals" type="xs:unsignedShort"/>
                                                                                        <xs:element name="regexp" type="xs:string" minOccurs="0"/>
                                                                                        <xs:element name="order" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                        <xs:element name="unique" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="date">
                                                                                <xs:complexType>
                                                                                    <xs:all minOccurs="0">
                                                                                        <xs:element name="order" type="xs:boolean" default="false"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="datetime">
                                                                                <xs:complexType>
                                                                                    <xs:all minOccurs="0">
                                                                                        <xs:element name="order" type="xs:boolean" default="false"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="varchar">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="length" type="xs:unsignedShort"/>
                                                                                        <xs:element name="regexp" type="xs:string" minOccurs="0"/>
                                                                                        <xs:element name="order" type="xs:string" minOccurs="0"/>
                                                                                        <xs:element name="unique" type="xs:boolean" default="false" minOccurs="0"/>
                                                                                        <xs:element name="filter" type="xs:string" minOccurs="0"/>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="text"/>
                                                                            <xs:element name="richtext"/>
                                                                            <xs:element name="boolean"/>
                                                                            <xs:element name="document"/>
                                                                            <xs:element name="documentlibrary"/>
                                                                        </xs:choice>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="showFieldInView" type="xs:boolean" default="true"/>
                                                                <xs:element name="required" type="xs:boolean" default="false" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="relations" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="255">
                                                    <xs:element name="relation" nillable="true" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="detailFileClassName" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="[a-zA-Z0-9]*"/>
                                                                            <xs:whiteSpace value="collapse"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="connectionFieldName" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="[a-zA-Z0-9_]*"/>
                                                                            <xs:whiteSpace value="collapse"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="connectionTitle" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern value="(.)+"/>
                                                                            <xs:whiteSpace value="replace"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
